@font-face {
  font-family: ;
  src: url();
}

:root {
  --var1: ;
  --var2: ;
  --var3: ;
}

/* GLOBAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}
/* HEADER  */
.output {
  width: 100vw;
  height: 100vh;
}

.outputcontainer div {
  display: Flex;
  justify-content: space-between;
}

.outputcontainer .temperaturecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outputcontainer {
  padding: 8rem;
  font-size: 3rem;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.img-size {
  width: 100vw;
  height: 100vh;
}

.forecast,
.forecasttwo,
.forecastthree,
.forecastfour,
.forecastfive {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 50%;
  white-space: nowrap;
  gap: 5rem;
  margin-bottom: 5rem;
}
.forecastitem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1rem;
}

.forecastdescr {
  text-align: center;
}

.forecastday {
  text-align: center;
}
.suggestion {
  padding: 5px;
  cursor: pointer;
}
.selected,
.suggestion:hover {
  background-color: #f0f0f0;
}
